@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.menuLinks {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: -1;
  transition-duration: 2s;
}

.isClosed {
  transform: translateY(-100%);
  transition: ease-in 0.7s;
}

.isOpen {
  transform: translateY(100%);
  transition: ease-in 0.7s;
}

.menuLink {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menuLinks a {
  color: #000;
}
