.footer {
  transform: translateY(15rem);
  margin-top: 5rem;
  background-color: rgba(73, 72, 72, 0.8);
  color: #e9dfe8;
  font-family: "Monserrat", sans-serif;
  font-size: 1.6rem;
  padding: 2rem 0 2rem;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.policy {
  text-transform: uppercase;
  padding: 0.3em 0;
}

.copy {
  display: inline-block;
  margin-top: 1rem;
}
