@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

html {
  font-size: 63.5%;
}

body {
  background-color: #f6f0ed;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
