.banner {
  margin: 3rem 0 5rem;
}

.imageContainer {
  border: 1px solid rgba(73, 72, 72, 0.5);
}

.text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin: 0.5em 0 0.2em;
}

.text p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 0 0 1em;
}
