@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.nav {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
}

.menuLinks {
  background-color: #f6f0ed;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0;
}

.isClosed {
  transform: translateY(-100%);
  transition: ease-in 0.7s;
}

.isOpen {
  transform: translateY(0%);
  transition: ease-in 0.7s;
}

.menuLink {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menuLink:hover,
.menuLink:focus-within {
  cursor: pointer;
}

.menuLinks p {
  padding: 1em;
  margin: 0;
  width: 60%;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .nav {
    position: static;
    z-index: 0;
    width: 50%;
    display: flex;
    align-items: center;
    max-width: 40rem;
  }

  .menuLinks {
    flex-direction: row;
    transform: translateY(0);
  }

  .menuLinks p {
    padding-bottom: 0.2em;
    border-bottom: 1px solid transparent;
  }
  .menuLink p:hover,
  .menuLink p:focus-within {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
